# Core dependencies
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
numpy
opencv-python==4.7.0.72
pybind11==2.9.2
ninja==1.10.2
pandas
scikit-learn
matplotlib
tqdm

# For custom CUDA extensions
g++==9.5.0

# Optional Jupyter support
ipykernel